@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --drak-blue: #024DA1;
    --orange-font: #F05321;
    --orange-bottom: #ED673D;
}

span {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
    background-color: #F0F0F0;

}

div.card-member span, div.card-member img {
    border: 1px solid white;

}

input[type="date"]::-webkit-calendar-picker-indicator {
    width: 20px;
    height: 30px;

    background: url("/imgs/calendar3.svg");
    background-repeat: no-repeat;

    margin: auto;
    margin-left: 0;
    margin-right: 0;

    cursor: pointer;

}

input[type="file"]::-webkit-file-upload-button {
    background-color: transparent;
    border: 0;

    cursor: pointer;

}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
    background: #E8F2FF;

}

div[id=select-custom]::-webkit-scrollbar {
    width: 10px;
    border-top-right-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #F05321;
}
